/* CardDetail.css */
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавный переход */
  }
  
  .fade-out-enter {
    opacity: 0;
  }
  
  .fade-out-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .fade-out-exit {
    opacity: 1;
  }
  
  .fade-out-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  